-- Check if database exists, if not create it
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'Db_std')
BEGIN
    CREATE DATABASE [Db_std];
END
GO

-- Use the database
USE [Db_std];
GO

-- Check if Students table exists, if not create it
IF NOT EXISTS (SELECT * FROM sys.tables WHERE name = 'Students' AND schema_id = SCHEMA_ID('dbo'))
BEGIN
    CREATE TABLE [dbo].[Students](
        [StudentId] INT IDENTITY(1,1) NOT NULL,
        [FirstName] NVARCHAR(100) NOT NULL,
        [LastName] NVARCHAR(100) NOT NULL,
        [Email] NVARCHAR(150) NOT NULL,
        [RollNumber] NVARCHAR(50) NOT NULL,
        [Gender] NVARCHAR(20) NOT NULL,
        [ImagePath] NVARCHAR(200) NULL,
        CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
        (
            [StudentId] ASC
        ) WITH (
            PAD_INDEX = OFF, 
            STATISTICS_NORECOMPUTE = OFF, 
            IGNORE_DUP_KEY = OFF, 
            ALLOW_ROW_LOCKS = ON, 
            ALLOW_PAGE_LOCKS = ON, 
            OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF
        ) ON [PRIMARY]
    ) ON [PRIMARY];
END
GO
